<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>DAM</title>
</head>
<body>
<h2>Cyclist List</h2> 

<table>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>BirthDate</th>
        <th>Nationality</th>
  
    </tr>
    <tr th:each="cyclist : ${cyclists}">
        <td th:text="${cyclist.firstName}"></td>
        <td th:text="${cyclist.lastName}"></td>
        <td th:text="${cyclist.birthdate}"></td>
        <td th:text="${cyclist.Nationality}"></td>

    </tr>    
</table>
<br/>  
</body>
</html>